@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  /*src: url('./fonts/opensans/open-sans-light.ttf') format('ttf');*/
  src: url('/assets/opensans/open-sans-light.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/opensans/open-sans-regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('./fonts/open-sans-semibold.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/opensans/open-sans-bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/opensans/open-sans-extrabold.ttf') format('ttf');
}
